<html>
<head>
<title>Mevanator App</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/highcharts.js"></script>

<script>
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Response Time for Components'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
       series: [{
         type: 'pie',
         name: 'Response Share',
         data: [
      <% for ( var i=0, l=responses.length; i<l; i++ ) { %>
                [ '<%= responses[i].name %>', <%= responses[i].response_time %> ],
            <% }; %>
         ]
      }]
        });
    });
    
});
</script>

</head>
<body>
  <div id="content_wrapper">
    <div id="content">
      <h2>Responses for User</h2>

<table border="1">
<thead>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Response Time</th>
    <th>Status</th>
  </tr>
 </thead>
 <tbody>
 <% responses.forEach( function(item) { %>
  <tr>
    <td><%= item.name %></a></td>
    <td><%= item.date_time %></td>
    <td><%= item.response_time %></td>
    <td><%= item.status %></td>
  </tr>
 <% }); %>
</tbody>
</table>

    </div>

    <div id="container"></div>
  </div>
</body>
</html>

